<!DOCTYPE html>
<html>
    {% include modules/head.html %}
    <body class="base">
        <div class="base-column">
            <header class="base-header">
                {% include modules/header.html %}
            
            </footer>
        </div>
    </body>
</html>
